.container{
    display: block;
    width: 500px;
    min-height: 230px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    gap: 20px;
}
